body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#id_l3_ex1_1 {
    padding-left: 50px;
    font-weight: normal;
}

#id_l3_ex1_2 {
    padding-left: 50px;
    font-weight: normal;
}

#id_l3_ex2 {
    padding-left: 50px;
    font-weight: normal;
}

#id_l3_ex3 {
    margin-left: 50px;
    font-weight: normal;
}

#id_l3_ex4 {
    margin-left: 50px;
    font-weight: normal;
}

#text_orangered_color {
    color: orangered;
}

#ex_text_padding_30 {
    padding-left: 30px;
    font-style: italic;
}

#note_tite {
    font-weight: 600;
    color: lightslategrey;
    font-size: 14pt;
    margin-left: 30px;
}

#note_content {
    color: cornflowerblue;
    text-decoration: underline;
}

#footer {
    margin-bottom: 200px;
}

.lessonSubtitle {
    font-size: 14pt;
    font-weight: 400;
}

.lessonPadding {
    padding: 0 30px 0 30px;
}

.lessonSubTextPadding {
    padding: 0 50px 0 30px;
}

.operators {
    color: indianred;
}

.variable {
    color: indianred;
}

.noteBox {
    padding: 16px;
    background-color: #ffffcc;
}

.boxBorder {
    padding: 16px;
    border: 1px solid #ccc;
    display: inline-block;
}

.defineBox {
    padding: 16px;
    background-color: #04AA6D33;
    border-radius: 8px;
}

.rowBox {
    display: flex;
    align-items: flex-start;
}

.box1 {
    margin-right: 400px;
}

.textColorString {
    color: green;
}

.textKeywordJavascript {
    color: blue;
}

.exBox {
    padding: 40px;
    background-color: #E7E9EB;
    border-radius: 8px;
}

.exGreen {
    background-color: white;
    padding: 1px 0 1px 12px;
    border-left: 4px solid green;
}