body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#id_l3_ex1_1 {
    padding-left: 50px;
    font-weight: normal;
}

#id_l3_ex1_2 {
    padding-left: 50px;
    font-weight: normal;
}

#id_l3_ex2 {
    padding-left: 50px;
    font-weight: normal;
}

#id_l3_ex3 {
    margin-left: 50px;
    font-weight: normal;
}

#id_l3_ex4 {
    margin-left: 50px;
    font-weight: normal;
}

#text_orangered_color {
    color: orangered;
}

#ex_text_padding_30 {
    padding-left: 30px;
    font-style: italic;
}

#note_tite {
    font-weight: 600;
    color: lightslategrey;
    font-size: 14pt;
    margin-left: 30px;
}

#note_content{
    color: cornflowerblue;
    text-decoration: underline;
}

#footer {
    margin-bottom: 200px;
}